
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.black-border {background-color: #000; padding: 1px; border-radius: 50%;}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
/* ------ body ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
.container {
    display: flex;
}
/* ------ first section ------- */
.items-1 {
    width: 35%;
    height: 100vh;
    background-color: rgb(53, 50, 50);
    color: #fff;
    padding: 20px 20px;
}
.items-1 h4 {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.center {
    padding: 10px;
    text-align: center;
}
.center img {
    height: 25%;
    width: 170px;
    border-radius: 50%;
}
.person,
.contact,
.skills,
.lang {
    padding: 10px;
    margin-top: 20px;
}
.flot {
    float: left;
}
.contact p,
.lang p {
    padding: 5px 0px 7px 33px;
    font-size: 13px;
}
.lang p {
    padding-left: 0;
}

/* ------ second section ------- */
.items-2 {
    width: 65%;
}
.person {
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.person h1 {
    font-size: 50px;
}

.title {
    display: flex;
    align-items: center;
    margin: 30px;
    border-bottom: 1px solid #000;
    padding: 5px 0;
}
.title h4 {
    padding-left: 10px;
}

/* ------ Education and Work ------- */
.education,
.work {
    display:flex;
    margin: 10px 30px;
}
.date {
    width: 30%;
}
.info {
    width: 70%;
}
ul {
    margin: 10px;
    list-style: none;
}
.info h4 {
    margin-bottom: 10px;
}




/* ------ skills ------- */ 
.skills p {
    margin-top: 10px;
}
.test {
    background-color: gray;
}
.html {
    width: 90%;
    background-color: #fff;
    height: 10px;
}
.js {
    width: 60%;
    background-color: #fff;
    height: 10px;
}
.react {
    width: 40%;
    background-color: #fff;
    height: 10px;
}
.sass {
    width: 60%;
    background-color: #fff;
    height: 10px;
}
.git {
    width: 50%;
    background-color: #fff;
    height: 10px;
}